@import 'root';

.fav-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

.card__not__found, .pesan-favorite {
  text-align: center;
  font-style: italic;
}

.form__group {
  position: relative;
}

.form__field {
  border: 1px solid $silver !important;
  border-radius: 5px;
  box-sizing: border-box;
  color: $field;
  height: 40px;
  padding: 0rem 15px;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .form__label {
    top: 10px;
    border-right: none;
    border-left: none;
  }
  &:focus {
    border: 1px solid $primary-color !important;
    outline: none;
  }
  &:focus ~ .form__label {
    background-color: $light-color;
    border-right: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
    color: $primary-color;
    font-size: .9em;
    margin-left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    transition: 0.2s;
  }
}

.form__label {
  background-color: $light-color;
  border-left: 1px solid $silver;
  border-right: 1px solid $silver;
  color: $label;
  display: block;
  font-size: .9em;
  margin-left: 10px;
  padding: 0 10px;
  pointer-events: none;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}
